<% if(success && success.length) { %>
    <div class="alert alert-success alert-dismissible fade show col-md-6 offset-md-3 mt-2" role="alert">
        <i class="fa-solid fa-circle-check me-2"></i><%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
<% } %>
<% if(error && error.length) { %>
    <div class="alert alert-danger alert-dismissible fade show col-md-6 offset-md-3 mt-2" role="alert">
        <i class="fa-solid fa-circle-exclamation me-2"></i><%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
<% } %>
